<% provide(:title, "About") %>

<div class="row">
  <div class="col-md-6">
    <h1>Simon Rawlings</h1>
    <%= image_tag("simon.jpg", alt: "Learn Guitar", class: "img-thumbnail") %>
  </div>
  <div class="col-md-6">
    <h1>About me</h1>
    <p>Whether you’re looking for a serious commitment or simply want to learn something new and have fun while doing it, there’s nothing more important than being taught by an experienced guitar instructor.

    I offer professional guitar lessons to pupils of varying ages and abilities, young and old, beginner to advanced. I take pride in making guitar lessons as enjoyable as possible and look forward to helping students reach their musical goals. Amersham Guitar Lessons teach both Rock School Electric and Trinity classical guitar grades, as well as tailor-made lessons on specific songs, ideas or techniques students wish to learn.

    Having played guitar for over 16 years, I have experience of a wide range of styles such as Rock, Classical, Blues, Latin and Jazz. I have a Bachelor's Degree from the Academy of Contemporary Music, Grade 8 Classical guitar and a Full DBS certificate.</p>

  </div>
</div>
