<% provide(:title, "Basic Technique") %>
<div class="container">
<div class="embed-responsive embed-responsive-16by9">
<%= cl_video_tag("basic_technique_720_nkjtdq", controls: true, width: 640, height: 360) %>
</div>
<h2>Basic Technique</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<!-- <p>The Acoustic guitar makes even the simplest of songs sound fantastic. From the blues of Robert Johnson, to current stars such as Ed Sheeran. Acoustic guitar playing encompasses a broad range of genres and techniques. From strumming and singing, to finger-style and percussive playing learn to play your favourite tunes today.
Sign up today today and get access to help videos and PDF downloads with your private one-two-one lesson.</p> -->
<%= link_to "BACK TO VIDEOS", videos_path, class: "btn btn-lg signup" %>
</div>
