<% provide(:title, "Acoustic") %>
<h1>Acoustic Guitar</h1>
<p>The Acoustic guitar makes even the simplest of songs sound fantastic. From the blues of Robert Johnson, to current stars such as Ed Sheeran. Acoustic guitar playing encompasses a broad range of genres and techniques. From strumming and singing, to finger-style and percussive playing learn to play your favourite tunes today.
Sign up today today and get access to help videos and PDF downloads with your private one-two-one lesson.</p>
