<% provide(:title, "Classical") %>

<h1>Classical Path</h1>
<p>Classical guitar is a timeless style of music made famous around the world by such players as Andreas Segovia, John Williams and Julian Bream. Whether you want to learn the romantic style of Tarrega's suite Española, or the structured discipline of Domenico Scarlatti, classical guitar is a fun and challenging pursuit.
Sign up today today and get access to help videos and PDF downloads with your private one-two-one lesson.</p>
