<% provide(:title, "Sitting and Posture") %>
<div class="container">
<div class="embed-responsive embed-responsive-16by9">
<%= cl_video_tag("sitting_and_posture_grsvct", controls: true, width: 640, height: 360) %>
</div>
<h2>Sitting and Posture</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<!-- <p>Classical guitar is a timeless style of music made famous around the world by such players as Andreas Segovia, John Williams and Julian Bream. Whether you want to learn the romantic style of Tarrega's suite Española, or the structured discipline of Domenico Scarlatti, classical guitar is a fun and challenging pursuit.
Sign up today today and get access to help videos and PDF downloads with your private one-two-one lesson.</p> -->
<%= link_to "BACK TO VIDEOS", videos_path, class: "btn btn-lg signup" %>
</div>
