<% provide(:title, "Electric") %>
<div>
  <h1>Electric Guitar</h1>
  <p>The most iconic instrument of contemporary music. From Jazz to Metal, Pop to Reggae. Electric guitar brings a wealth of techniques and repertoire to get stuck into. Want to play with the sweet and delicate touch of BB King? Or with the speed and dexterity of Joe Satriani? Then the electric guitar is for you.</p>
  <p>Sign up today today and get access to help videos and PDF downloads with your private one-two-one lesson.</p>
</div>
