<div class="jumbotron">
  <div class="container">
    <h1>SPECIALIST ONLINE ONE-TWO-ONE GUITAR TUITION</h1>
    <p>TUNE UP, LOGIN AND LEARN</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">How it works</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Packages</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Happy Clients</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
  </div>

</div>


<!--<h2>Meet the Team</h2>
<%= image_tag("simon.jpg", alt: "Learn Guitar", class: "img-thumbnail") %> -->
