<div class="jumbotron">
  <div class="container">
    <h1>SPECIALIST ONLINE ONE-TWO-ONE GUITAR TUITION</h1>
    <p>TUNE UP, LOGIN AND LEARN</p>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-12">
    <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">How it works</h3>
            </div>
            <div class="panel-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
    </div>
  </div>
</div>
  <div class="row text-center">
    <div class="col-sm-8">
      <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Packages</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-6 col-sm-6">
                    <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">School Lessons</h3>
                            </div>
                            <div class="panel-body">
                              <div class="page-header">
                                <h2>£11.00 <small>per 20 min lesson</small></h2>
                              </div>
                              <p>10% Sibling discount</p>
                              <p>
                                <a href="#" class="btn btn-info" role="button">Free Trial</a>
                                <a href="#" class="btn btn-primary" role="button">Buy Now</a>
                              </p>
                            </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6">
                    <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">Private Lessons</h3>
                            </div>
                            <div class="panel-body">
                              <div class="page-header">
                                <h2>£17.50 <small>per half hour lesson</small></h2>
                              </div>
                              <p>10% discount when you buy 10 lessons</p>
                              <p>
                                <a href="#" class="btn btn-info" role="button">Free Trial</a>
                                <a href="#" class="btn btn-primary" role="button">Buy Now</a>
                              </p>
                            </div>
                    </div>
                  </div>
                </div>
              </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Meet the team</h3>
              </div>
              <div class="panel-body">
                <%= image_tag("simon.jpg", alt: "Learn Guitar", class: "img-thumbnail") %>
              </div>
            </div>
    </div>
  </div>




<div id="carousel-example-generic" class="carousel slide text-center" data-ride="carousel">
        <!--<ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <blockquote>
              <p>Simon has taught electric guitar to our daughter Madeleine who really enjoys his lessons. He is a true professional; very knowledgeable and skilled in what he does and able to work with any style of music. We would give him the highest recommendation!</p>
              <footer>Tony</footer>
            </blockquote>
          </div>
          <div class="item">
            <blockquote>
              <p>Simon has taught our eldest son, Harry (now 15) , the electric guitar for the last 4 years. Simon is an extremely talented guitarist and a great teacher who has encouraged Harry to have passed his first 3 grades. We would highly recommend Simon to anyone wanting lessons</p>
              <footer>Harry</footer>
            </blockquote>
          </div>
          <div class="item">
            <blockquote>
              <p>Simon has been a great inspiration for my 16 year old son William who was on the verge of giving up guitar. Will finds his enthusiasm inspiring, and has swiftly moved through the Rock grades with great results. I'd highly recommend Simon to anyone from beginner to advanced</p>
              <footer>William</footer>
            </blockquote>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>


<!--<h2>Meet the Team</h2>
<%= image_tag("simon.jpg", alt: "Learn Guitar", class: "img-thumbnail") %> -->
