<div class="jumbotron">
  <div class="container">
    <h1>SPECIALIST ONLINE ONE-TWO-ONE GUITAR TUITION</h1>
    <p>TUNE UP, LOGIN AND LEARN</p>
  </div>
</div>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Meet the team</h3>
              </div>
              <div class="panel-body">
                <%= image_tag("simon.jpg", alt: "Learn Guitar", class: "img-thumbnail") %>
              </div>
            </div>
    </div>
    <div class="col-sm-8">
      <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Packages</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-6 col-sm-6">
                    <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">School Lessons</h3>
                            </div>
                            <div class="panel-body">
                              <div class="page-header">
                                <h2>£11.00 <small>per 20 min lesson</small></h2>
                              </div>
                              <p>10% Sibling discount</p>
                              <p>
                                <a href="#" class="btn btn-info" role="button">Free Trial</a>
                                <a href="#" class="btn btn-primary" role="button">Buy Now</a>
                              </p>
                            </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6">
                    <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">Private Lessons</h3>
                            </div>
                            <div class="panel-body">
                              <div class="page-header">
                                <h2>£17.50 <small>per half hour lesson</small></h2>
                              </div>
                              <p>10% discount when you buy 10 lessons</p>
                              <p>
                                <a href="#" class="btn btn-info" role="button">Free Trial</a>
                                <a href="#" class="btn btn-primary" role="button">Buy Now</a>
                              </p>
                            </div>
                    </div>
                  </div>
                </div>
              </div>
      </div>
    </div>
  </div>




<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <blockquote>
              <p>Any customer can have a car painted any color that he wants so long as it is black</p>
              <footer>Henry Ford</footer>
            </blockquote>
          </div>
          <div class="item">
            <blockquote>
              <p>Any customer can have a car painted any color that he wants so long as it is black</p>
              <footer>Henry Ford</footer>
            </blockquote>
          </div>
          <div class="item">
            <blockquote>
              <p>Any customer can have a car painted any color that he wants so long as it is black</p>
              <footer>Henry Ford</footer>
            </blockquote>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>


<!--<h2>Meet the Team</h2>
<%= image_tag("simon.jpg", alt: "Learn Guitar", class: "img-thumbnail") %> -->
