<% provide(:title, "Packages") %>

<h1>Packages</h1>
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">School Lessons</h3>
                          </div>
                          <div class="panel-body">
                            <div class="page-header">
                              <h2>£11.00 <small>per 20 min lesson</small></h2>
                            </div>
                            <p>10% Sibling discount</p>
                            
                              <a href="#" class="btn-lg btn-info" role="button">Free Trial</a>
                              <a href="#" class="btn-lg btn-primary" role="button">Buy Now</a>

                          </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                  <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Private Lessons</h3>
                          </div>
                          <div class="panel-body">
                            <div class="page-header">
                              <h2>£17.50 <small>per half hour lesson</small></h2>
                            </div>
                            <p>10% discount when you buy 10 lessons</p>
                            <p>
                              <a href="#" class="btn-lg btn-info" role="button">Free Trial</a>
                              <a href="#" class="btn-lg btn-primary" role="button">Buy Now</a>
                            </p>
                          </div>
                  </div>
                </div>
              </div>
