<div class="container-fluid">
<h2 class="text-center">VIDEOS</h2>
  <div class="row">
    <div class="col-sm-4">
      <!-- <div class="embed-responsive embed-responsive-16by9"> -->
      <%= link_to cl_image_tag("basic_technique_720_nkjtdq.jpg", :resource_type=>"video",), acoustic_path, class: "thumbnail" %>
      <!-- </div> -->
    </div>
    <div class="col-sm-4">      
      <h4 class="">Basic Technique</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <!-- <div class="embed-responsive embed-responsive-16by9"> -->
      <%= link_to cl_image_tag("parts_of_the_guitar_jxofmd.jpg", :resource_type=>"video",), electric_path, class: "thumbnail" %>
      <!-- </div> -->
    </div>
    <div class="col-sm-4">
      <h4 class="">Parts of the Guitar</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <br>
  <div class="row ">
    <div class="col-sm-4">
      <!-- <div class="embed-responsive embed-responsive-16by9"> -->
      <%= link_to cl_image_tag("sitting_and_posture_grsvct.jpg", :resource_type=>"video",), classical_path, class: "thumbnail" %>
      <!-- </div> -->
    </div>
    <div class="col-sm-4">
      <h4 class="">Sitting and Posture</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
